body {
  margin: 0;
  font-family: 'myfont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

@font-face {
  font-family: "myfont";
  src: url("./assets/fonts/opensanshebrew-regular.woff") format('woff');
}

@font-face {
  font-family: "myfont";
  src: url("./assets/fonts/opensanshebrew-bold.woff") format('woff');
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}